@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>Sports</title>
</head>
<body>
    <h2>Welcome to Our Sports Page</h2>

    <p>@Html.ActionLink("List", "Index", "Teams")</p>
</body>
</html>