@{
    ViewData["Title"] = "Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Sports.Models.Team


    <h2>Details</h2>
    <hr />
    @Html.DisplayFor(model => model.Name): @Html.DisplayFor(model => model.Players), Captain: @Html.DisplayFor(model => model.Captain)
    <p>@Html.ActionLink("Back to list", "Index")</p>
